@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: sans-serif;
  }
.login-form .card{
    font-family: myFirstFont;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
}